<div class="quiz-container">
  <h2>Questions for {{ selectedCategory.name }}</h2>
  <div *ngIf="questions && questions.length > 0; else noQuestions">
    <div *ngFor="let question of questions" class="question-card">
      <p>{{ question.text }}</p>
      <div *ngFor="let option of question.options">
        <label>
          <input type="radio" name="question{{ question.id }}" [value]="option" [(ngModel)]="selectedAnswers[question.id]">
          {{ option }}
        </label>
      </div>
    </div>
  </div>
  <ng-template #noQuestions>
    <p>Aucune question disponible pour cette catégorie.</p>
  </ng-template>
  <button (click)="submitAnswers()">Soumettre</button>
</div>